# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
pubspec.lock
build/

# Android
android/key.properties
android/app/keystore.jks
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
